.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    width: 98%;
    
   
}
.paragraph{
    margin-left: 50px;
    margin-right: 50px;
}
.image-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
   
}

.img2 img {
    background: linear-gradient(to right, #f97316, #3b82f6, #d9f99d);
  }
  

@media only screen and (min-width: 601px) and (max-width: 900px) {
   .grid-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1fr);
    width: 98%;
   }
   
  
   .paragraph{
    margin-left: 25px;
    margin-right: 25px;
   }
    
}
@media only screen and (max-width: 600px) {
   
    .img2 img{
        display: none;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        width: 95%;
      
    }
    .paragraph{
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
       }
    
    
}