
/* .slider-container {
    width: 100%;
    margin: auto;
}

.slider-image {
    width: 100%;
    height: 550px; 
    object-fit: cover; 
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slide div {
    width: 100%; 
} */
